@import "./variables";
@import "./mapa";
@import "./mixins-responsive";
.footer__frase {
    display: flex;
    background-color: black;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: $blanco;
    font-size: 1.3rem;
    font-family: 'Kanit', sans-serif;
    font-style: italic;
    @include tablet {
        background-color: grey;
    }
}