@import "./variables";
@import "./mapa";
@import "./mixins-responsive";

.header {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &__logoynombre {
        display: flex;
        align-items: center;
        justify-content:center;
        flex-wrap: wrap-reverse;
    }
    &__logo {
         max-width: 100%;
         width: 100px;
         margin: 5px 20px 5px 0px ;   
    }
    &__nombre {
        font-family: 'Orbitron', sans-serif;
        margin-left: 20px;
        font-size: 6rem;
        font-weight: 900;
        animation: fluido 30s ease-in-out infinite;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(255,255,255,0.65) 25%, rgba(0,0,0,1) 50%, rgba(255,255,255,0.6530987394957983) 75%, rgba(255,255,255,0) 100%);
        background-size: 600%;
        -webkit-background-clip: text;
          background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &__list {
        display: flex;
        padding: 0px 50px 20px 0px;
        font-family:'Teko', sans-serif;
        flex-wrap: wrap;
    }
    &__item {
        margin: 0px 7px;
        & span {
            color: $blanco;
            font-size: 1.8rem;
            padding: 4px 10px 0px 10px;
            border-bottom: 1px solid $blanco ;
            transition: all 0.5s;
            &:hover {
                background-color: $blanco;
                color: black;
            }
        }
    }
    &__servicios{
        display: none;
    }
}
@media screen and (min-width:320px) {  
    .header__nombre {
        font-size: 2rem;
    }
    .header__logo {
        display: none;
    } 
    .header__nombreylogo {
        padding: 0px;
    }
    
}
@media screen and (min-width:375px) {  
    .header__nombre {
    font-size: 2.5rem;
    margin: 0px;
    }
    .header__logo {
        display: none;
    }
    
}
@media screen and (min-width:425px) {  
    .header__nombre {
    font-size: 2.7rem;
    }
    .header__logo {
        display: none;
    }
}
@media screen and (min-width:768px) {
    .header__nombre {
        font-size: 5rem;
        }
        .header__logo {
            display: inline-block;
            margin: 0px 10px 0px 0px;
        }
}

@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}