* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.nav {
  top: 0px;
  z-index: 2;
  position: fixed;
  background: #0e021b;
  background: linear-gradient(0deg, #0e021b 25%, black 100%);
  height: 65x;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.568);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.6); }

.nav__logo {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 2.500rem;
  padding: 0 40px 0 80px;
  font-weight: 900;
  font-style: italic;
  animation: fluido 12s ease-in-out infinite;
  background: white;
  background: linear-gradient(90deg, white 35%, #2f0a49 50%, white 65%);
  background-size: 600%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.nav__items {
  display: flex;
  margin-right: 30px;
  margin-bottom: 0%; }
  .nav__items li {
    border-radius: 3px;
    margin: 0 2px; }
    .nav__items li a {
      font-family: 'Rubik', sans-serif;
      padding: 7px 12px;
      font-size: 1rem;
      font-weight: 600;
      display: block;
      text-transform: uppercase;
      color: #fff; }
    .nav__items li:hover {
      background-color: rgba(102, 102, 102, 0.3);
      transition: .4s; }

.btn__menu {
  margin-right: 30px;
  font-size: 1.563rem;
  color: #fff;
  cursor: pointer;
  display: none; }

ul.show {
  top: 65px; }

@media screen and (max-width: 952px) {
  .nav__logo {
    font-size: 1.875rem;
    padding-left: 35px; }
  .nav__items li a {
    font-size: 1rem; } }

@media screen and (max-width: 768px) {
  .nav__logo {
    font-size: 1.563rem;
    padding-left: 35px; }
  .nav {
    height: 65px;
    z-index: 1; }
  .btn__menu {
    display: inline-flex; }
  .nav__items {
    padding: 0px;
    position: fixed;
    width: 100vw;
    height: calc(100% - 130px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column; }
    .nav__items li {
      margin: 30px 0 0;
      line-height: 30px; }
      .nav__items li:hover {
        background: none; }
      .nav__items li a {
        font-size: 1.25rem;
        color: #fff;
        font-weight: bold; }
        .nav__items li a:hover {
          color: #961d1d; } }

@media screen and (max-width: 858px) and (orientation: landscape) {
  .nav__items {
    overflow: scroll;
    height: calc(100% - 290px); }
    .nav__items li {
      margin: 5px 0 0 0; } }

@keyframes fluido {
  0% {
    background-position: 0 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0 50%; } }

.main__mapa {
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 100px;
  flex-wrap: wrap-reverse;
  justify-content: center; }
  .main__mapa .main__iframe {
    margin-top: 20px; }

.main__form {
  width: 340px;
  height: 470px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  z-index: 0;
  padding: 20px 30px;
  max-width: calc(100vw -40px);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative; }
  .main__form h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: grey;
    border-bottom: 3px solid black; }
    .main__form h2:hover {
      cursor: default; }
  .main__form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: "Montserrat", sans-serif;
    transition: all .3s;
    border-bottom: 2px solid grey; }
    .main__form input:focus {
      border-bottom: 2px solid lightblue; }
  .main__form p:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: grey; }
  .main__form button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: "Montserrat", sans-serif;
    border: 2px solid gray;
    background: 0;
    color: black;
    cursor: pointer;
    transition: all .3s; }
    .main__form button:hover {
      background: gray;
      color: white; }
  .main__form div {
    position: absolute;
    bottom: -25px;
    right: -15px;
    background: black;
    color: white;
    width: 280px;
    padding: 16px 0px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000; }
  .main__form span {
    margin: 0 5px 0 15px; }

@media screen and (max-width: 320px) {
  .main__form {
    width: 100%; }
  .main__mapa {
    gap: 20px; }
  .main__iframe {
    height: 200px; } }

.footer__frase {
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  font-family: 'Kanit', sans-serif;
  font-style: italic;
  font-weight: 300;
  margin: 0px; }

.footer__iconos {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black; }

.icon {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 20px;
  border-radius: 50%;
  transition: all .8s;
  cursor: pointer; }
  .icon:hover {
    background-color: #e60073;
    box-shadow: 0 0 20px #e60073; }
    .icon:hover:nth-child(2) {
      background-color: #1877f2;
      box-shadow: 0 0 20px #1877f2; }
    .icon:hover:nth-child(3) {
      background-color: #25d366;
      box-shadow: 0 0 20px #25d366; }
    .icon:hover:nth-child(4) {
      background-color: #1da1f2;
      box-shadow: 0 0 20px #1da1f2; }
    .icon:hover circle {
      stroke-dasharray: 220; }
  .icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7rem; }

svg {
  height: 80px;
  width: 80px; }
  svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out; }

@media screen and (max-width: 320px) {
  svg {
    display: none; }
  .icon {
    width: 20px;
    height: 20px; } }

@media screen and (max-width: 375px) {
  svg {
    display: none; }
  .icon {
    width: 20px;
    height: 20px; } }

@media screen and (max-width: 425px) {
  .icon {
    margin: 10px 5px; } }

.main__imagenC {
  display: flex;
  background-image: url(../Assets/ContactoImagen.jpg);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 2.5rem;
  flex-direction: column;
  padding: 80px; }

.main__imagenN {
  display: flex;
  background-image: url(../Assets/imagennosotros.jpg);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 50px;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 2rem;
  flex-direction: column;
  padding: 80px; }
  .main__imagenN--frase {
    border-left: 5px solid #0e021b;
    background-color: rgba(41, 6, 41, 0.507);
    border-radius: 0px;
    font-weight: 500;
    padding: 0px 15px;
    margin-bottom: 5px;
    font-style: italic;
    cursor: default;
    color: #fff; }
  .main__imagenN--grande {
    margin-bottom: -0.1px;
    font-size: 2.5rem;
    background-color: rgba(41, 6, 41, 0.507);
    color: white;
    border-left: 5px solid #0e021b;
    font-weight: 900;
    font-style: italic;
    padding: 0px 15px;
    cursor: default; }
  .main__imagenN--btn {
    border: 2px solid #0e021b;
    display: inline-block;
    border-radius: 50px;
    padding: 1.5px 10px;
    font-size: 1.7rem;
    font-family: 'Teko', sans-serif;
    color: white; }
    .main__imagenN--btn:hover {
      background-color: rgba(14, 2, 27, 0.733);
      color: white;
      transition: 0.5s; }

.main_fraseN {
  background-color: #000;
  display: flex;
  padding: 40px 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  color: white; }

.main__textoN {
  padding: 20px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.35rem;
  font-family: 'Kanit', sans-serif; }

.main__gridN {
  display: grid;
  background-color: black;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-around;
  gap: 20px;
  padding: 40px; }
  .main__gridN div span {
    color: white;
    font-size: 1.2rem;
    border-left: 2px solid yellow;
    padding-left: 10px; }

@media screen and (max-width: 768px) {
  .main__imagenN {
    padding: 10px;
    justify-content: center;
    align-items: center; }
    .main__imagenN span {
      font-size: 1.5rem;
      margin: 5px; }
  .main__fraseN span {
    font-size: 20px; }
  .main__gridN {
    grid-template-columns: auto; }
  .main__textoN {
    font-size: 1rem;
    padding: 20px 30px;
    text-align: center; } }

.main__gridP {
  width: 100%;
  max-width: 1200px;
  height: 430;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; }
  .main__gridP .main__gridPCartas {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px black;
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
    .main__gridP .main__gridPCartas img {
      width: 330px;
      height: 330px; }
    .main__gridP .main__gridPCartas h4 {
      font-family: 'Open Sans', sans-serif;
      margin-top: 10px;
      font-weight: 600;
      font-style: italic; }
    .main__gridP .main__gridPCartas p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300; }
    .main__gridP .main__gridPCartas:hover {
      transform: translateY(-15px);
      box-shadow: 0 12px 16px black;
      cursor: pointer; }

.main__carrusel {
  width: 100vw;
  height: 100px; }

@media screen and (max-width: 768px) {
  .main__gridP {
    grid-template-columns: 1fr;
    padding: 10px; } }

.main__imagenS {
  margin-top: 50px;
  display: flex;
  background-image: url(../Assets/fotoarmado.jpg);
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  color: black;
  font-size: 2.5rem;
  flex-direction: column;
  padding: 50px 80px; }

.main__trabajosS {
  background-color: black;
  display: grid;
  grid-template-columns: 75vw;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  row-gap: 40px;
  padding: 30px 0px; }
  .main__trabajosS div p {
    color: white;
    font-size: 1.2rem;
    border-left: 2px solid #21216d;
    padding-left: 10px; }

@media screen and (max-width: 768px) {
  .main__imagen {
    padding: 10px;
    justify-content: center;
    align-items: center; }
    .main__imagen span {
      font-size: 1.5rem;
      margin: 5px; } }

.main__imagen {
  position: relative;
  display: flex;
  background-image: url(../Assets/Fondoindex.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 2.5rem; }
  .main__imagen span {
    margin: 50px; }

.main__frase {
  margin-top: 65px;
  display: flex;
  background-color: white;
  padding: 20px 40px;
  flex-direction: column;
  align-items: center;
  font-family: 'Kanit', sans-serif; }
  .main__frase--grande {
    font-size: 2rem; }
  .main__frase--italica {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300; }

.main__seccionCartas {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0px; }
  .main__seccionCartas .main__cartas {
    position: relative;
    min-width: 320px;
    height: 300px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05), inset -5px -5px 5px rgba(255, 255, 255, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.05), -5px -5px 5px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 30px; }
    .main__seccionCartas .main__cartas:hover .main__cartasCaja {
      transform: translateY(-50px);
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
      background: linear-gradient(0deg, #0e021b 25%, black 100%); }
    .main__seccionCartas .main__cartas:hover .main__cartasCaja .main__cartasContenido h2 {
      color: rgba(0, 0, 0, 0.05); }
    .main__seccionCartas .main__cartas:hover .main__cartasCaja .main__cartasContenido h3 {
      font-size: 1.1em;
      color: #fff;
      z-index: 1;
      transition: 0.5s; }
    .main__seccionCartas .main__cartas:hover .main__cartasCaja .main__cartasContenido p {
      color: #fff; }
    .main__seccionCartas .main__cartasCaja {
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      background: #52515310;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.5s; }
    .main__seccionCartas .main__cartasContenido {
      padding: 20px;
      text-align: center;
      justify-content: center; }
      .main__seccionCartas .main__cartasContenido h2 {
        margin-bottom: 20px;
        font-size: 2.5em;
        color: rgba(32, 5, 51, 0.692);
        transition: 0.5s;
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-weight: 200; }
      .main__seccionCartas .main__cartasContenido p {
        font-size: 1em;
        font-weight: 300;
        color: #777;
        z-index: 1;
        transition: 0.5s; }

.main__secciones {
  display: flex;
  height: 700px;
  padding: 100px 100px;
  flex-direction: column;
  background-image: url(../Assets/FondoSeccionesIndex.jpg);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: left;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .main__secciones a {
    color: white;
    font-size: 2.7rem;
    font-family: 'Teko', sans-serif;
    border-left: 2px solid white;
    padding: 5px 15px;
    transition: all 0.5s; }
    .main__secciones a:hover {
      background: white;
      color: black; }

@media screen and (max-width: 768px) {
  .main__frase--grande {
    font-size: 1rem; }
  .main__frase--italica {
    font-size: 1rem; }
  .main__secciones {
    padding: 0px;
    justify-content: center;
    height: 400px;
    align-items: center; }
    .main__secciones a {
      font-size: 1.5rem; }
  .main__imagen {
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-size: 200%; }
    .main__imagen span {
      font-size: 1.5rem;
      margin: 5px; }
  .footer__frase {
    font-size: 0.8rem; } }
