* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.header {
  background-color: black;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  flex-wrap: wrap; }
  .header__logo {
    max-width: 100%;
    width: 600px;
    padding: 10px 40px 30px 10px; }
  .header__list {
    display: flex;
    padding: 0px 50px 20px 0px;
    font-family: 'Teko', sans-serif;
    flex-wrap: wrap; }
  .header__item {
    margin: 0px 7px; }
    .header__item span {
      color: white;
      font-size: 1.8rem;
      padding: 4px 10px 0px 10px;
      border-bottom: 1px solid white;
      transition: all 0.5s; }
      .header__item span:hover {
        background-color: white;
        color: black; }
  .header__servicios {
    display: none; }

.main__mapa {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap-reverse;
  justify-content: center; }
  .main__mapa .main__iframe {
    margin-top: 20px; }

.main__form {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  box-sizing: border-box;
  border: 0;
  border-radius: 8px;
  padding: 20px 30px;
  max-width: calc(100vw -40px); }
  .main__form fieldset {
    display: flex;
    flex-direction: column; }
  .main__form legend {
    display: none; }
  .main__form fieldset {
    border: 0; }
  .main__form input, .main__form textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all .3s;
    border-bottom: 2px solid grey; }

.footer__frase {
  display: flex;
  background-color: black;
  height: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3rem;
  font-family: 'Kanit', sans-serif;
  font-style: italic; }
  @media screen and (max-width: 768px) {
    .footer__frase {
      background-color: grey; } }

.main__imagen {
  position: relative;
  display: flex;
  background-image: url(../Assets/Fondoindex.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 2.5rem .main__imagen span;
    font-size-margin: 80px; }

.main__frase {
  display: flex;
  background-color: white;
  padding: 40px 40px;
  flex-direction: column;
  align-items: center;
  font-family: 'Kanit', sans-serif; }
  .main__frase--grande {
    font-size: 2.5rem; }
  .main__frase--italica {
    font-size: 2rem;
    font-style: italic;
    font-weight: 300; }

.main__secciones {
  display: flex;
  height: 700px;
  padding: 100px 100px;
  flex-direction: column;
  background-image: url(../Assets/FondoSeccionesIndex.jpg);
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: left;
  justify-content: space-between;
  align-items: center; }
  .main__secciones a {
    color: white;
    font-size: 2.7rem;
    font-family: 'Teko', sans-serif;
    border-left: 2px solid white;
    padding: 5px 15px;
    transition: all 0.5s; }
    .main__secciones a:hover {
      background: white;
      color: black; }
