@import "../CSS/parciales/corrección.global.scss";
@import "../CSS/parciales/header.scss";
@import "../CSS/parciales/form.scss";
@import "../CSS/parciales/footer.scss";
@import "../CSS/parciales/mixins-responsive";

.main__imagen {
    position: relative;
    display: flex;
    background-image: url(../Assets/Fondoindex.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: map-get($estilos, f25)
    & span {
        margin: 80px;
    }
}
.main__frase {
    display: flex;
    background-color: white;
    padding: 40px 40px;
    flex-direction: column;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    &--grande {
        font-size: map-get($estilos, f25)
    }
    &--italica {
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
    }
}
.main__secciones {
    display: flex;
    height: 700px;
    padding: 100px 100px;
    flex-direction: column;
    background-image: url(../Assets/FondoSeccionesIndex.jpg);
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: left;
    justify-content: space-between;
    align-items: center;
    & a {
        color: white;
        font-size: 2.7rem;
        font-family: 'Teko', sans-serif;
        border-left: 2px solid white;
        padding: 5px 15px;
        transition: all 0.5s;
        &:hover {
            background: white;
            color: black;
        }
    }
}  

