@import "./mixins-responsive";

.nav {
    top: 0px;
    z-index:5;
    position: fixed;
    background: rgb(14,2,27);
    background: linear-gradient(0deg, rgba(14,2,27,1) 25%, rgba(0,0,0,1) 100%);
    height: 65x;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.568);
    box-shadow: 5px 0 10px rgba(0,0,0,.6);
    
}
.nav__logo {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 2.500rem;
    padding: 0 40px 0 80px;
    font-weight:900;
    font-style: italic;
    animation: fluido 12s ease-in-out infinite;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 35%, rgba(47,10,73,1) 50%, rgba(255,255,255,1) 65%);
        background-size: 600%;
        -webkit-background-clip: text;
          background-clip: text;
        -webkit-text-fill-color: transparent;
}
.nav__items {
    display: flex;
    margin-right: 30px;
    margin-bottom: 0%;
    & li {
        border-radius: 3px;
        margin: 0 2px;
        & a {
            font-family: 'Rubik', sans-serif;
            padding: 7px 12px;
            font-size: 1rem;
            font-weight: 500;
            display: block;
            text-transform: uppercase;
            color: #fff;
            
        }
        &:hover {
            background-color: rgba(102, 102, 102, 0.3);
            transition: .4s;
        }
        
    }
}
.btn__menu {
    margin-right: 30px;
    font-size: 1.563rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

ul.show {
    top: 65px;
}

@media screen and (max-width: 952px){
    .nav__logo {
        font-size: 1.875rem;
        padding-left: 35px;
    }
    .nav__items li a {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px){
    .nav__logo {
        font-size: 1.563rem;
        padding-left: 35px;
    }
    .nav {
        height: 65px;
        z-index:5;
    }
    .btn__menu {
        display: inline-flex;
    }
    .nav__items {
        padding: 0px;
        position: fixed;
        width: 100vw;
        height: calc(100% - 100px);
        background: #414141;
        top: -100vh;
        text-align: center;
        transition: all .4s;
        flex-direction: column;
        & li {
            margin: 30px 0 0;
            line-height: 30px;
            &:hover {
                background: none;
            }
            & a {
                font-size: 1.25rem;
                color: #fff;
                font-weight: bold;
                &:hover {
                    color:#350f44;
                }
            }
        }
    }
}

@media screen and (max-width: 858px) and (orientation: landscape) {
    .nav__items {
        overflow: scroll;
        height: calc(100% - 380px);
        & li {
            margin: 5px 0 0 0;
        }
    }
}
@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}