
.main__gridP {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows: auto ;
    row-gap: 30px;
    column-gap: 30px;
    padding: 80px;
    place-items: center;
}

@media screen and (max-width:768px) {
    

    .main__gridP {
        grid-template-columns: 1fr;
        padding: 10px;
    }
    }