.main__imagenN {
    display: flex;
    background-image: url(../Assets/imagennosotros.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 2rem;
    flex-direction: column;
    padding: 80px;
    &--frase {
        border-left: 5px solid rgb(14,2,27);
        background-color: rgba(41, 6, 41, 0.507);
        border-radius: 0px;
        font-weight: 500;
        padding: 0px 15px;
        margin-bottom: 5px;
        font-style: italic;
        cursor: default;
        color: #fff;
    }
    &--grande {
        margin-bottom: -0.1px;
        font-size: 2.5rem;
        background-color: rgba(41, 6, 41, 0.507);
        color: rgb(255, 255, 255);
        border-left: 5px solid rgb(14,2,27);
        font-weight: 900;
        font-style: italic;
        padding: 0px 15px;
        cursor: default;
    }
    &--btn {
        border: 2px solid rgb(14,2,27);
        display: inline-block;
        border-radius: 50px;
        padding: 1.5px 10px;
        font-size: 1.7rem;
        font-family:'Teko', sans-serif;
        color: white;
        &:hover {
            background-color: rgba(14, 2, 27, 0.733);
            color: white;
            transition: 0.5s;
        }
    }
    }
    .main_fraseN {
        background-color: #000;
        display: flex;
        padding: 40px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Kanit', sans-serif;
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
        color: white;
    }
   .main__textoN {
       padding: 20px 80px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       font-size: 1.35rem;
       font-family: 'Kanit', sans-serif;
   } 
   .main__gridN {
       display: grid;
       background-color: black;
       grid-template-columns: auto auto;
       grid-template-rows: auto auto;
       justify-content: space-around;
       gap: 20px;
       padding: 40px;
       & div span {
           color: white;
           font-size: 1.2rem;
           border-left: 2px solid yellow;
           padding-left: 10px;
       }
   }
   @media screen and (max-width:768px) {
    
    .main__imagenN {
        padding: 10px;
        justify-content: center;
        align-items: center;
        & span {
            font-size: 1.5rem;
            margin: 5px;
        }
    }
    .main__fraseN span {
        font-size: 20px;
    }
    .main__gridN {
        grid-template-columns: auto;
    }
    .main__textoN{
        font-size: 1rem;
        padding: 20px 30px;
        text-align: center;
    }
    }