.main__imagenN {
    display: flex;
    background-image: url(../Assets/imagennosotros.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items:center;
    font-family: 'Bebas Neue', cursive;
    color:white;
    font-size: 2.5rem;
    flex-direction: column;
    padding: 80px;
    &--btn {
        border: 2px solid yellow;
        border-radius: 50px;
        padding: 1.5px 10px;
        font-size: 1.7rem;
        font-family:'Teko', sans-serif;
        color: white;
        &:hover {
            background-color: rgba(255, 251, 0, 0.479);
            color: white;
            transition: 0.5s;
        }
    }
    }
    .main_fraseN {
        background-color: #000;
        display: flex;
        padding: 40px 40px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: 'Kanit', sans-serif;
        font-size: 2rem;
        font-style: italic;
        font-weight: 300;
        color: white;
    }
   .main__textoN {
       padding: 20px 80px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
       font-size: 1.35rem;
       font-family: 'Kanit', sans-serif;
   } 
   .main__gridN {
       display: grid;
       background-color: black;
       grid-template-columns: auto auto;
       grid-template-rows: auto auto;
       justify-content: space-around;
       gap: 20px;
       padding: 40px;
       & div span {
           color: white;
           font-size: 1.2rem;
           border-left: 2px solid yellow;
           padding-left: 10px;
       }
   }
   @media screen and (max-width:768px) {
    
    .main__imagenN {
        padding: 10px;
        justify-content: center;
        align-items: center;
        & span {
            font-size: 1.5rem;
            margin: 5px;
        }
    }
    .main__fraseN span {
        font-size: 20px;
    }
    .main__gridN {
        grid-template-columns: auto;
    }
    .main__textoN{
        font-size: 1rem;
        padding: 20px 30px;
        text-align: center;
    }
    }