.main__imagenC {
    display: flex;
    background-image: url(../Assets/ContactoImagen.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-start;
    flex-direction: column;
    padding: 80px;
    margin-top: 50px;
    cursor: default;
    &--bold {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 5px solid rgb(58, 14, 87);
        background-color: rgba(0, 0, 0, 0.507);
        font-weight: 800;
        font-style: italic;
        margin-bottom: 5px;
        padding: 0px 20px;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        font-family: 'Open Sans', sans-serif;
    }
    &--light {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 5px solid rgb(58, 14, 87);
        background-color: rgba(0, 0, 0, 0.507);
        font-weight: 200;
        font-style: italic;
        margin-bottom: 5px;
        padding: 0px 20px;
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
        font-family: 'Open Sans', sans-serif;
    }
    }
    .main__trabajosS {
        background-color: black;
        display: grid;
        grid-template-columns: 75vw;
        grid-template-rows: auto auto auto auto;
        justify-content: center;
        row-gap: 40px;
        padding: 30px 0px;
        & div p {
            color: white;
            font-size: 1.2rem;
            border-left: 2px solid rgb(33, 33, 109);
            padding-left: 10px;
        }
    }
    .main__seccionCartas {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 40px 0px;
        .main__cartas {
            position: relative;
            min-width: 320px;
            height: 300px;
            box-shadow: inset 5px 5px 5px rgba(0,0,0,0.05),
                        inset -5px -5px 5px rgba(255,255,255,0.5),
                        5px 5px 5px rgba(0,0,0,0.05),
                        -5px -5px 5px rgba(255, 255, 255, 0.5);
            border-radius:15px;
            margin: 30px;
            &:hover .main__cartasCaja {
                transform: translateY(-50px);
                box-shadow: 0 10px 40px rgba(0,0,0,0.2);
                background: linear-gradient(0deg, rgba(14,2,27,1) 25%, rgba(0,0,0,1) 100%);
            }
            &:hover .main__cartasCaja .main__cartasContenido h2 {
                color: rgba(0,0,0,0.05);
            }
            &:hover .main__cartasCaja .main__cartasContenido h3 {
                font-size: 1.1em;
                color: #fff;
                z-index: 1;
                transition: 0.5s;
            }
            &:hover .main__cartasCaja .main__cartasContenido p {
                color: #fff;
            }
            &Caja {
                position: absolute;
                top: 20px;
                left: 20px;
                right: 20px;
                bottom: 20px ;
                background:#52515310;
                box-shadow: 0 10px 20px rgba(0,0,0,0.1);
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.5s;
            }
            &Contenido {
                padding: 20px;
                text-align: center;
                justify-content: center;
                & h2 {
                    margin-bottom: 20px;
                    font-size: 2.5em;
                    color: rgba(32, 5, 51, 0.692);
                    transition: 0.5s;
                    font-family: 'Open Sans', sans-serif;
                    font-style: italic;
                    font-weight: 200;
                }
                & p {
                    font-size: 1em;
                    font-weight: 300;
                    color: #777;
                    z-index: 1;
                    transition: 0.5s;
                }
            }
        }
    
    }
    @media screen and (max-width:768px) {
        .main__imagenC span {
            font-size: 1.5rem;
        }
    }